body{
  color: #1e2022;
  margin: 0;
  padding: 0;
}
h1{
  font-family: 'Cormorant Garamond', serif;
  /* font-style: italic; */
  font-weight: 600;
  font-size: 3rem;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
hr{
  color: #ffff;
  border: solid;
  border-width: thin;
}
img{
  width: 100%;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
a{
  color: #1e2022;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}
a:hover{
  color: #52616b;
}

.navBAR{
    background-color: #f6f6f6; /*whichever you want*/
    opacity: 0.75;

}
.jean{
  color: #1e2022;
  font-family: 'Cormorant Garamond', serif;
  /* font-style: italic; */
  font-weight: 600;
  font-size: 3rem;
}
.navButtons{
  color: #1e2022;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}


/* title section */

#title-section{
  background-color: #eae9e9;
  margin: 0 auto 10rem;
  /* position: relative;
  padding: 7% 15%; */
}
.image-col{
  padding:0;
  /* position: relative; */
}
.title-image{
  width: 100%;
  position:absolute;
  z-index: -1;
}
.title-content{
  margin: 42rem 0 10rem 1rem;
  position: absolute;
  text-align: center;
  z-index: 1;
}
.title-name{
  color: #ffff;
  font-family: 'Cormorant Garamond', serif;
  /* font-style: italic; */
  font-weight: 600;
  font-size: 5rem;
}
.title-sub{
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.05rem;
}

/* About Section */
#about-section{
  background-color: #eae9e9;
  padding: 10% 15%;
  position: relative;
  margin: 59.5rem auto 0;
  position: relative;
}
.intro-container{
  background-color: #d4d7dd;
  padding: 2rem;
  line-height: 2;
}
.intro-heading{
  font-size: 4.5rem;
  padding: 3rem 0 5rem;
}
.intro-para{
  font-size: 1.2rem;
}
.intro-image{
  background-color: #d4d7dd;
  padding: 1rem;
  width: 1%;
}


/* extra section */
#extra-section{
  background-color: #420000;
  padding: 10% 5%;
  position: relative;
  margin: 0 auto;
}
.extras-column{
  background-color: #420000;
  border: none;
  padding: 5%;
  text-align: center;
}
.extras-para{
  color: #d4d7dd;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  font-weight: lighter;
  padding-top: 2rem;

}




#footer-section{
  background-color: #d4d7dd;
  padding: 20% 15%;
  position: relative;
  margin: 0 auto;
}
